body{
    background-color: linear-gradient(0deg, red);
    color:black;
    }
    section{
        background-color: royalblue;
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
    }

    .chamada-texto{
        margin-right: 100px;
    }